.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.user-profile-container {
  height: 200px;
  width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 50px;
}

.text {
  margin: 10px;
}